html,
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* prevents scrolling */

}

body {
    background: linear-gradient(90deg, #2d283f, #928dab);
    font-family: sans-serif;


    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 8vh;

}

p {
    margin: 0px;
}

button {

    font-family: sans-serif;
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
    padding: 6px 12px;

    border: none;
    border-radius: 8px;

    color: rgb(17, 14, 24);
    background-image: linear-gradient(90deg, #6943af, #ba84da);
    box-shadow: 0 0 3px 3px #4c4764;
    /* Smooth movement */
    transition: transform 0.3s ease;
    text-shadow:
        0 0 1px #4f3391;

    min-width: 12vw;
    min-height: 6vh;


}

button:hover {
    transform: translateY(5px);
    /* Move down 5 pixels */
}


input {
    padding: 12px 12px;
    width: 10vw;
    font-size: 20px;
    color: #aaa;
    font-weight: 900;
    font-family: sans-serif;
    background-color: #1f1c2c;

    border: 2px solid transparent;

    border-radius: 8px;
    background-image: linear-gradient(#1f1c2c, #1f1c2c),
        linear-gradient(90deg, #444444, #3700ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    transition: all 0.3s ease;
    outline: none;

}

input::placeholder {
    font-size: 22px;
    text-shadow:
        0 0 3px #000000;
}


input:focus {
    background-image: linear-gradient(#1f1c2c, #1f1c2c),
        linear-gradient(90deg, #be5cff, #00ffff);
    box-shadow: 0 0 10px rgba(183, 185, 17, 0.3);
}

.title {
    margin-top: 3vh;
    font-size: 3vw;
    font-weight: 900;
    text-shadow: 0 0 4px #2c2b2b;
    color: rgb(0, 0, 0);

}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

    background-image: linear-gradient(210deg, #2d283f, #7d7891);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);

    min-width: 650px;
    min-height: 450px;

}

.cell {
    border: 2px solid #73699e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cell:hover {
    background-color: #2a2640;
}

.cell[data-status="winner"] {
    background-image: linear-gradient(#be5cff, #ffb756);
}


.gameplay-buttons {
    gap: 4vw;
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;

}

.input-wrapper {
    display: flex;
    gap: 5vw;
}


.game-winner {
    font-size: 3vw;
    font-weight: 900;
    text-shadow: 0 0 4px #2c2b2b;
    color: rgb(201, 201, 201);
}



.cell.x,
.cell.o {
    font-size: 4rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;

    /* reset cursor */
    cursor: default;

    transition: transform 0.3s ease;
}

/* X - Neon Purple */
.cell.x {
    color: #be5cff;
    text-shadow: 0 0 8px #be5cff, 0 0 8px #be5cff, 0 0 12px #8b00ff;
}

/* O - Neon Cyan */
.cell.o {
    color: #00ffff;
    text-shadow: 0 0 8px #00ffff, 0 0 8px #00ffff, 0 0 12px #00bfbf;
}